.content {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  align-items: flex-start;
  gap: 10px;
}

.direct {
  align-self: stretch;
  color: var(--black, #121212);
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.table .row {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.table .amoutTable {
  display: flex;
  width: 90px;
  height: 38px;
  padding: 10px 21px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--NeutralColor, #d4eced);
}
.table .amoutTable.selected {
  border-radius: 8px;
  background: var(--MainColor, #32dee7);
  color: white;
}
.table .directAmount {
  display: flex;
  height: 38px;
  padding: 10px 21px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 8px;
  background: var(--gray-10, #3c3c3c);
  color: var(--WhiteColor, #fff);
  text-align: center;
  /* M14 */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}