// .weight{
//     background: var(--WhiteColor, #FFF);
//     align-self: stretch;
//     color: var(--black, #121212);
//     text-align: center;

//     /* sB22 */
//     font-family: Pretendard;
//     font-size: 22px;
//     font-style: normal;
//     font-weight: 600;
//     line-height: normal;
//     text-transform: uppercase;
// }
.container {
    font-family: "Arial, sans-serif";
    text-align: center;
    max-width: 400px;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f8f9fa;
  
    .titleContainer {
      margin-bottom: 20px;
    }
  
    .weightDisplay {
      font-size: 24px;
      margin-bottom: 20px;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 10px;
      background-color: #fff;
    }
  
    .nextButton {
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #ddd;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  
    .keypad {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
  
      .keypadButton {
        padding: 15px;
        font-size: 18px;
        background-color: #f1f1f1;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
  