.status-button-container {
    display: flex;
    flex-direction: column; /* 세로 배치를 위해 추가 */
    align-items: center; /* 가로축 중앙 정렬 추가 */
    margin-top: 100px;
}

.status-img{
    width:10%;
    object-fit: contain; /* 이미지 비율 유지 */
    margin-bottom: 30px; /* 이미지 아래쪽 여백 추가 */
}

.next-button {
    width: calc(100% - 40px); /* 좌우 여백 20px씩 */
    height: 55px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: not-allowed;
    transition: all 0.3s ease;
}

.next-button.active {
    background-color: #333333;
    color: white;
    cursor: pointer;
}

.next-button:disabled {
    background-color: rgb(187, 187, 187);
    color: #ffffff;
    cursor: not-allowed;
}
